<%= form_with(model: [ @post, current_user.comments.build ], local: true) do |form| %>
  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
