<h1>All Users</h1>

<ul class="users-cont">
  <% @users.each do |user| %>
    <li class="u-container">
    <img class="u_image" src="<%= user.photo ? user.photo : 'https://images.unsplash.com/photo-1582567056798-7dc94989e56d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80' %>">
    <div class="u-info">
    <h3><%= link_to user.name, user %></h3>

      <br>
      Number of posts: <%= user.posts_counter %>
    </div>
      
    </li>
  <% end %>
</ul>
